
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  //font-weight: 100;
  height: 100vh;
  margin: 0;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.landing {
  &.full-height {
    height: 100vh;
  }

  &.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &.position-ref {
    position: relative;
  }

  .top-right {
    position: absolute;
    right: 10px;
    top: 18px;
  }

  .content {
    text-align: center;
  }

  .title {
    font-size: 84px;
  }

  .links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
  }

  .m-b-md {
    margin-bottom: 30px;
  }

  div.title {
    margin-bottom: 2rem;
  }

  div.links {
    margin-top: 2rem;
  }
}

.popup {
  background: #A5A5A5;
  padding: 1rem;
  border-radius: $alert-border-radius;
  color: #1d2124;
  border-color: $card-border-color;
  display: inline-block;
  text-align: center;
  margin: auto;
}
